@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply font-sans font-medium;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading font-bold;
  }
}
@layer components {
  svg {
    fill: white;
  }
}

.logged-out > .login-button-wrapper {
  @apply opacity-100 pointer-events-auto;
  transform: translate(-50%, -40px);
}
.logged-out > .app-bg-image,
.logged-in > .app-bg-image {
  @apply cursor-pointer;
  transition: transform 250ms ease-out;
}
.logged-out > .app-info-wrapper {
  @apply opacity-100 ml-10;
  transform: translateX(0%);
}
.logged-out > .welcome-message {
  @apply opacity-100;
  transform: translateX(0%);
}
.loading > .app-bg-image,
.logging-in .app-bg-image,
.verifying-log-in .app-bg-image,
.log-in-error .app-bg-image {
  @apply blur pointer-events-none;
  transform: scale(1.2);
  transition: all 250ms ease-out;
}

.logging-in .app-pin-wrapper,
.log-in-error .app-pin-wrapper {
  @apply opacity-100 pointer-events-auto;
  transform: translate(-50%, -50%) scale(1);
}

.logged-in .app-menu {
  @apply overflow-auto h-auto pointer-events-auto opacity-100;
  transform: translateY(0%);
}

.login-button-wrapper {
  transform: translate(40px, 0px);
}

.app-pin-wrapper {
  transform: translate(-50%, -30%) scale(0.8);
  transition: opacity 250ms ease-in, transform 250ms ease-in;
}

dialog {
  animation: scale-fade-out 0.7s cubic-bezier(0.34, 1.56, 0.64, 1);
}
dialog[open] {
  animation: scale-fade-in 0.7s cubic-bezier(0.34, 1.56, 0.64, 1);
}

dialog::backdrop {
  @apply bg-gradient-to-t from-slate-900/70 dark:from-white/50;
  animation: fade 0.15s cubic-bezier(0, 1.8, 1, 1.8);
}

@keyframes slidein {
  from {
    transform: translate3d(0, 5px, 0);
  }
  to {
    transfrom: translate3d(0, 0, 0);
  }
}

@keyframes scale-fade-in {
  0% {
    transform: scale(0) translate3d(0, -40%, 0);
    opacity: 0;
  }

  100% {
    transform: scale(1) translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes scale-fade-out {
  0% {
    transform: scale(3) translate3d(0, -40%, 0);
    opacity: 1;
  }

  100% {
    transform: scale(0) translate3d(0, 0, 0);
    opacity: 0;
  }
}
@layer utilities {
  .sky {
    @apply from-sky-700/40;
  }
}
